$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~react-notifications/lib/notifications.css';

@import "./partials/fonts";
@import "./partials/first";
@import "./partials/loader";
@import "./partials/burger";
@import "./partials/blog";
@import "./partials/checkout";
@import "./partials/orders";
@import "./partials/header";

body {
  // font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Archivo Narrow', sans-serif;
  button {
    outline: none;
  }
}