.main-container {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 72px;
  .greeting {
    margin-bottom: 25px;
  }
  .toggle-title{
    margin-right: 15px;
  } 
  .toggle-block {
    .toggle-btn {
      margin-right: 15px;
      width: 50px;
      height: 20px;
      border: 1px solid #eee;
      background: #eee;
      color: #000;
      text-transform: uppercase;
      outline: none;
      &:hover {
        color: #fff;
      }
    }
  }
}

.delay {
  display: flex;
  flex-flow: row wrap;  
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 72px;
  .delay-main {
    display: flex;
    align-items: center;
    margin: 0 15px 15px 0;
    width: 25%;
    .delay-img-blok {
      max-width: 120px;
      .delay-img {
        width: 100%;
      }
    }
    .delay-text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      font-size: 18px;
      font-family: Roboto, sans-serif;
      margin-left: 15px;
    }
  }
}

.drags {
  font-family: Roboto, sans-serif;
  margin-top: 72px;
  .drags-btn-block {
    display: flex;
    justify-content: center;
    .drags-btn {
      margin-right: 15px;
      border: 1px solid #eee;
      width: 200px;
      height: 30px;
      background: #eee;
    }
  }
  .drags-place {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 500px;
    .drags-staff {
      position: absolute;
      font-size: 16px;
      color: #333335;
    }
  }
}